%p#notice= notice
%h1 Annonces disponibles
%section.container.content-section.text-center
  %table
    %thead
      %tr
        %th Titre de l'annonce
        %th Annonce
        %th Prix
        %th{:colspan => "30"}
    %tbody
      - @annonces.each do |annonce|
        %tr
          %td= link_to annonce.title, annonce
          %td= annonce.body
          %td= annonce.price
          %td= annonce.id_user
          - if user_signed_in?
            - if annonce.id_user == current_user.id || current_user.admin
              %td= link_to 'Editer', edit_annonce_path(annonce)
              %td= link_to 'Supprimer', annonce, method: :delete, data: { confirm: 'Sûr ?' }
%br/
= link_to 'Déposez une nouvelle annonce', new_annonce_path
%br/