<p id="notice"><%= notice %></p>

<h1>Listing Annonces</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Price</th>
      <th>Id user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td><%= annonce.title %></td>
        <td><%= annonce.body %></td>
        <td><%= annonce.price %></td>
        <td><%= annonce.id_user %></td>
        <td><%= link_to 'Show', annonce %></td>
        <td><%= link_to 'Edit', edit_annonce_path(annonce) %></td>
        <td><%= link_to 'Destroy', annonce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annonce', new_annonce_path %>