<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Caverne de l'ENSIIE</title>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light"><%= link_to "La Caverne de l'ENSIIE", "/" %></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to 'Déposer une annonce', new_annonce_path %>
                    </li>
                    <li>
                        <%= link_to 'Offres', annonces_path %>
                    </li>
                    <li>
                    <%= link_to 'Demandes', annonces_path %>
                    </li>
                    <% if user_signed_in? %>
                    <li>
                        <%= link_to 'Mon Compte', edit_user_registration_path %>
                    </li>
                     <li>
                       <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                    </li>
                    <% else %>
                    <li>
                    <%= link_to "Inscription", new_user_registration_path, :class => 'navbar-link'  %> 
                    </li>
                    <li>
                    <%= link_to "Connexion", new_user_session_path, :class => 'navbar-link'  %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<section class="container content-section text-center">
</br>
</br>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
</section>
    
    <!-- Contact Section -->

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contactez-nous</h2>
                <p><a href="mailto:feedback_lacaverne@gmail.com">feedback_lacaverne@gmail.com</a>
                </p>
                <ul class="list-inline banner-sponsor-buttons">
                    <li>
                        <a href="http://www.ensiie.fr/" class="btn btn-default btn-lg"><i class="fa fa-ensiie fa-fw"></i> <span class="network-name">ENSIIE</span></a>
                    </li>
                    <li>
                        <a href="https://scalingo.com/" class="btn btn-default btn-lg"><i class="fa fa-scalingo fa-fw"></i> <span class="network-name">Powered by Scalingo</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; La Caverne de l'ENSIIE 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
